*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #614385, #516395);
}

.board{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.row div{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: sans-serif;
    position: relative;
}

.first div{
    border-top: none;
}

.first .one, .second .one, .third .one{
    border-left: none;
}

.third div{
    border-bottom: none;
}

.first .three, .second .three, .third .three{
    border-right: none;
}

.x::before{
    content: '';
    width: 80%;
    background-color: black;
    height: 6px;
    position: absolute;
    transform: rotate(45deg);
}

.x::after{
    content: '';
    width: 80%;
    height: 6px;
    background-color: black;
    transform: rotate(-45deg);
    position: absolute;
}

.o::before{
    content: '';
    width: 70%;
    height: 70%;
    background-color: transparent;
    border: 6px solid black;
    border-radius: 50%;
    position: absolute;
}